<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: auto;">
    <img src="/assets/community.png" no-repeat center fixed>
  </div>
  <div class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card id="buttons">
          <button routerLink="/creative-room" class="ion-activatable ripple-parent">
          <img src="/assets/creative-room-circle.png" id="comm-card">
          <h5>creative room</h5>
        </button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="buttons">
            <button routerLink="/freedom-wall" class="ion-activatable ripple-parent">
            <img src="/assets/freedom-wall-circle.png" id="comm-card">
            <h5>freedom wall</h5>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
