ion-card-title.ios, ion-card-title.md {
    font-family: 'Elika Gorica' !important;
}

button {
    padding: 10px;
    border-radius: 25px;
}

ion-card {
    border-radius: 25px;
    border: 5px solid #2E3747;
}