<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Health and Wellness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: auto;">
    <img src="/assets/healthAndWellness.png" no-repeat center fixed>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Breathing</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable">
        Explore
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Guided Meditation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable">
        Explore
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calming Music</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable">
        Explore
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
