<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Webinars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: auto;">
    <img src="/assets/webinars.png" no-repeat center fixed>
  </div>
  <ion-card style="height: auto;">
    <ion-card-content>
      <iframe src="https://drive.google.com/file/d/1unhvU5aYE-aRjDufBHlU2Ma5s1Mqm3Bq/preview" width="100%" height="auto" allow="autoplay"></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
