<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Webinars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: auto;">
    <img src="/assets/webinars.png" no-repeat center fixed>
  </div>
  <ion-card>
      <iframe src="https://drive.google.com/file/d/1unhvU5aYE-aRjDufBHlU2Ma5s1Mqm3Bq/preview" height="auto" allow="autoplay" allowfullscreen></iframe>
  </ion-card>
  <p>Love Yourself</p><br>
  <ion-card>
      <iframe src="https://drive.google.com/file/d/13zs1x4BulOVqJonEvfDiwcLvfcnh20I-/preview" height="auto" allow="autoplay" allowfullscreen></iframe>
  </ion-card>
  <p>Relaxation Techniques</p><br>
</ion-content>
