<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="banner">
    <div id="spanner">
      <img src="/assets/custom_icons/Sun.png" class="time" style="float: right;">
      <h1 id="greeting">Good morning,</h1>
      <h2>User!</h2>
    </div>
    <img src="/assets/banner.png" no-repeat center fixed cover>
  </div>
  <div id="community">
    <h2 id="community-header">Community</h2>
    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card id="buttons">
            <button (click)="opentab1()" class="ion-activatable ripple-parent">
            button
          </button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card id="buttons">
            <button (click)="opentab2()" class="ion-activatable ripple-parent">
              <img src="/assets/freedom-wall-circle.png" id="comm-card">
              <h5>freedom wall</h5>
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div id="networks">
    <h2 id="networks-header">Networks</h2>
    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FUgnayanNgPahinungodUPOU%2Fposts%2F680847823281235&show_text=false&width=500" width="500" height="419" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </ion-card>
          <p>Puso para sa Bayan</p>
        </ion-col>
        <ion-col>
          <ion-card>
            <iframe src="https://drive.google.com/file/d/1unhvU5aYE-aRjDufBHlU2Ma5s1Mqm3Bq/preview" style="position:absolute; left:0; top:0; width:100%; height:100%" allowfullscreen></iframe>
          </ion-card>
          <p>Love Yourself</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <iframe src="https://drive.google.com/file/d/13zs1x4BulOVqJonEvfDiwcLvfcnh20I-/preview" style="position:absolute; left:0; top:0; width:100%; height:100%" allowfullscreen></iframe>
          </ion-card>
          <p>Relaxation Techniques</p>
        </ion-col>
        <ion-col>
          <ion-card>
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FUgnayanNgPahinungodUPOU%2Fposts%2F505796650786354&show_text=false&width=500" width="500" height="353" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </ion-card>
          <p>Call for Volunteers</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
