<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: auto; background: linear-gradient(#89b2e8, #fff); display: flex; justify-content: center;">
    <img src="/assets/banner.jpg" no-repeat center fixed cover> <!--reference pic: https://oneupvusa.org/news/xh7w0c0w8fp9rc4m0hfy9fiiilf4cr-->
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Article 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable ripple-parent">
        Read More
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Article 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable ripple-parent">
        Read More
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Article 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sample text
      <button routerLink="/health-and-wellness" class="ion-activatable ripple-parent">
        Read More
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
